@import "mixins";

/* GLOBAL */
body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  min-width: 320px;
}

.notImplemented {
  display: none;
}

.hidden {
  visibility: hidden;
}

.displaynone {
  display: none;
}


.container {
  max-width: $desktopWidth - 100px;
  margin: auto;
  display: flex;
  position: relative;
  font-weight: 300;

  @include desktop{
    max-width: $laptopWidthBound;
  }

  @include laptop{
    max-width: $tabletsWidthBound;
  }

  @include tablets{
    max-width: $phonesWidthBound;
  }

  @include phones{
    max-width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
}

.displayflex {
  display: flex;
}

.titleBlock {
  align-self: center;
  width: $desktopWidth;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
  h2 {
    color: #E9F2FF;
    position: relative;
    font-size: 36px;
    &:before {
      @include icon("../images/horizontal_line.png", 200px, 2px);
      top: 45px;
    }

    @include laptop{
      margin-bottom: 30px;
    }
  }

  p {
    position: relative;
    font-size: 16px;
    font-weight: 300;
    line-height: 21px;

    width: 638px;
    &:before {
      @include icon("../images/small_vertical_line.png", 2px, 100px, true, absolute);
      left: -10px;
    }
    @include tablets{
      max-width: 100%;
    }
  }

  @include desktop{
    max-width: $laptopWidthBound;
  }

  @include laptop{
    max-width: $tabletsWidthBound;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @include tablets{
    max-width: $phonesWidthBound;
  }

  @include phones{
    max-width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
}

.skladLinksBlock {
  width: 350px;
  position: absolute;
  right: 50px;
  top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 99999;
  &>a {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 5px 10px;
    color: #fff;
    &:before {
      margin-left: 5px;
    }

    &.active {
      border: 1px solid #006DFF;
      border-radius: 6px;
    }

  }

  @include laptop {
    width: 100%;
    right: 0;
    top: 250px;
  }

  @include phones {
    display: none;
  }

  .sizesLink {
    &:before {
      @include icon("../images/sklad/icons/sizes.png", 22px, 22px, true);
    }
  }

  .weightsLink {
    &:before {
      @include icon("../images/sklad/icons/weights.png", 23px, 23px, true);
    }
  }

  .cartLink {
    &:before {
      @include icon("../images/sklad/icons/cart.png", 31px, 31px, true);
    }
  }

  .calculatorLink {
    &:before {
      @include icon("../images/sklad/icons/calculator.png", 20px, 20px, true);
    }
  }
}



/* /GLOBAL */
/* CALCPAGES */
.header__logo {
  position: absolute;
  top: 50px;
  left: 80px;
  background-image: url("../images/firstScreen/logo.png");
  background-size: 180px 125px;
  background-repeat: no-repeat;
  width: 182px;
  height: 150px;
  z-index: 99999;
  & span {
    display: block;
    width: 175px;
    font-size: 14px;
    text-align: center;
    position: relative;
    top: 126px;
    color: #D6D6D6;
  }
  @include tablets {
    margin-bottom: 20px;
  }
}

.calcPages{
  &__title {
    margin-top: 50px;
    margin-bottom: 70px;
    h1 {
      font-size: 48px;
      text-align: center;
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    width: 600px;
    margin: 20px auto 0 auto;
    &>a {
      padding-bottom: 5px;
      border-bottom: 2px solid transparent;
      &:hover{
        border-bottom: 2px solid #006DFF;
      }
    }
  }
}

.selectBlock {
  margin-bottom: 50px;
  select {
    cursor: pointer;
    font-family: "Open Sans", serif;
    width: 600px;
    margin: auto;
    display: block;
    font-size: 24px;
    background: transparent;
    border: 1px solid #1F53FF;
    box-sizing: border-box;
    padding: 10px 15px;
    margin-bottom: 20px;
    border-radius: 7px;
    color: #787878;
    &>option {
    }
  }
}
/* /CALCPAGES */
/* SIZES */

.sizes {
  max-width: 1120px;
  color: #fff;
  font-size: 16px;
  flex-direction: column;
  justify-content: space-between;
  &__wrapper {
    position: relative;
    background: #161C28;
    height: 100vh;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      width: 529.38px;
      height: 1006.9px;
      left: -76px;
      top: 555.01px;
      opacity: .7;

      background: radial-gradient(51.59% 51.59% at 50.12% 48.41%, #1A00B9 0%, rgba(28, 6, 169, 0) 100%);
      transform: rotate(-35.18deg);
      @include phones {
        height: auto;
      }
    }
  }
  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    table {
      display: block;
      border: 1px solid #1F53FF;
      max-width: 600px;
      border-radius: 7px;
      tr {
        border-top: 1px solid #1F53FF;
        &:first-child {
          border: 0;
        }
        td {
          box-sizing: border-box;
          padding: 5px 10px;
          vertical-align: middle;
          &:first-child {
            border-right: 1px solid #1F53FF;
          }
          &:last-child {
            text-align: center;
          }
        }
      }
    }
  }
}

/* /SIZES */
/* WEIGHTS */

.weights {
  max-width: 1120px;
  color: #fff;
  font-size: 16px;
  flex-direction: column;
  justify-content: space-between;
  &__wrapper {
    position: relative;
    background: #161C28;
    height: 100vh;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      width: 529.38px;
      height: 1006.9px;
      left: -76px;
      top: 555.01px;
      opacity: .7;

      background: radial-gradient(51.59% 51.59% at 50.12% 48.41%, #1A00B9 0%, rgba(28, 6, 169, 0) 100%);
      transform: rotate(-35.18deg);
      @include phones {
        height: auto;
      }
    }
  }
  &__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .help {
      border: 1px solid #1F53FF;
      max-width: 600px;
      border-radius: 7px;
      padding: 10px 15px;
      box-sizing: border-box;
      margin: auto;
      margin-bottom: 20px;

      &__title {
        font-size: 24px;
        text-align: center;
        margin-bottom: 26px;
      }
      &__body {
        font-size: 24px;
      }
    }

    .table {
      display: flex;
      flex-direction: column;
      border: 1px solid #1F53FF;
      border-radius: 7px;
      width: 600px;
      .tr {
        display: flex;
        align-items: stretch;
        border-top: 1px solid #1F53FF;
        &:first-child {
          border: 0;
        }
        &>* {
          flex-grow: 1;
          box-sizing: border-box;
          padding: 5px 10px;
          border-right: 1px solid #1F53FF;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          &>input {
            background: transparent;
            border: 0;
            display: block;
            color: #fff;
            width: 125px;
            font-size: 23px;
            text-align: center;
            position: relative;
            left: 10px;
            &[name=count],
            &[name=weight]{
              width: 50px;
            }
          }
          &>span {
            &:last-child {
              text-align: center;
              font-size: 10px;
            }
          }
          &:last-child {
            border: 0;
          }
        }
      }
      &__type {
        width: 50px;
        font-size: 23px;
      }
      &__price {
        border-right: 1px solid transparent;
        cursor: pointer;
        font-size: 23px;
      }
    }
  }

  .selectBlock {
    margin-bottom: 0;
  }
}

/* /WEIGHTS */
/* PRICE */
.price {
  max-width: 1120px;
  color: #fff;
  font-size: 16px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  &__wrapper {
    position: relative;
    background: #161C28;
    height: 100vh;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      width: 529.38px;
      height: 1006.9px;
      left: -76px;
      top: 555.01px;
      opacity: .7;

      background: radial-gradient(51.59% 51.59% at 50.12% 48.41%, #1A00B9 0%, rgba(28, 6, 169, 0) 100%);
      transform: rotate(-35.18deg);
      @include phones {
        height: auto;
      }
    }
  }

  &__about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
    &>p {
      margin-bottom: 5px;
    }
  }

  &__select {
    border: 1px solid #1F53FF;
    box-sizing: border-box;
    padding: 10px 20px;
    font-size: 34px;
    display: inline-block;
    cursor: pointer;
    transition: .5s ease-in-out;
    font-weight: 600;
    &:hover {
      background: #1F53FF;
      border: 1px solid transparent;
    }
  }

}



.menu {
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  width: 350px;
  height: 100vh;
  background: #000;
  z-index: 999;

  .filters {
    margin-bottom: 50px;
    &__open {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      .arrDown {
        @include icon("../images/additional/price/arrDown.png", 24px, 14px, false, relative);
        left: 10px;
        cursor: pointer;
      }

      .arrDownReverse {
        transform: rotate(180deg);
      }
    }

    &__body {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &>div {
        margin-bottom: 10px;
        display: flex;
        &>span {
          width: 150px;
          font-weight: 600;
          text-align: center;
          padding: 5px 10px;
          margin: 0 5px;
          box-sizing: border-box;
          border: 1px solid #fff;
          border-radius: 4px;
          cursor: pointer;
          &.selected {
            border: 1px solid #1F53FF;
          }
        }
      }
    }
  }

  &__content {
    height: calc(100vh - 275px);
    margin: 250px auto 0 auto;
    overflow-y: scroll;
    /* width */
    &::-webkit-scrollbar {
      width: 5px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #1F53FF;
      border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #fff;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    li {
      margin: 10px 0 0 15px;
    }
  }

  &__submenu {
    cursor: pointer;
    margin: 25px 0 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .arrDown {
      @include icon("../images/additional/price/arrDown.png", 24px, 14px, false, relative);
      right: 10px;
      cursor: pointer;
    }

    .arrDownReverse {
      transform: rotate(180deg);
    }
  }

  .displaynone {
    display: none;
  }
}
/* /PRICE */
/* PRODUCT */
.product {
  .calcPages__title>p {
    margin-top: 20px;
  }

  .table {
    display: flex;
    flex-direction: column;
    border: 1px solid #1FF2FF;
    border-radius: 7px;
    width: 600px;
    max-height: 700px;
    overflow-y: scroll;
    /* width */
    &::-webkit-scrollbar {
      width: 5px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #1F53FF;
      border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #fff;
    }
    .th {
      &>*{
        font-weight: 600;
        text-align: center;
        justify-content: center;
        align-items: center;
      }
    }

    .tr {
      display: flex;
      align-items: stretch;
      border-top: 1px solid #1FF2FF;
      &:first-child {
        border: 0;
      }
      &>* {
        overflow: hidden;
        flex-grow: 1;
        box-sizing: border-box;
        padding: 5px 10px;
        border-right: 1px solid #1FF2FF;
        display: flex;
        &.table__price {
          padding: 0;
        }
        &.table__filters {
          padding: 10px 15px;
        }
        &:last-child {
          border: 0;
        }
      }
    }

    &__filters {
      padding: 10px 15px;
      display: flex;
      align-items: center;
      &>* {
        margin-right: 10px;
        cursor: pointer;
        box-sizing: border-box;
        padding: 2px;
        &.selected {
          border: 1px solid #1FF2FF;
          border-radius: 3px;
        }
      }
    }

    &__name {
      width: 150px;
    }
    &__length {
      width: 80px;
    }
    &__price {
      width: 100px;
      display: flex;
      flex-direction: row;
      &>div {
        flex-grow: 1;
        height: 100%;
        padding: 5px 10px;
        box-sizing: border-box;
        &:nth-child(2) {
          border-left: 1px solid #1FF2FF;
        }
      }
    }
    &__provider {
      width: 150px;
    }
  }
}
/* /PRODUCT*/