@import "mixins";

/* GLOBAL */
body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  min-width: 320px;
}

.notImplemented {
  display: none;
}

.hidden {
  visibility: hidden;
}

.displaynone {
  display: none;
}

.container {
  max-width: $desktopWidth - 100px;
  margin: auto;
  display: flex;
  position: relative;
  font-weight: 300;

  @include desktop{
    max-width: $laptopWidthBound;
  }

  @include laptop{
    max-width: $tabletsWidthBound;
  }

  @include tablets{
    max-width: $phonesWidthBound;
  }

  @include phones{
    max-width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
}

.displayflex {
  display: flex;
}

.skladLinksBlock {
  z-index: 999;
  color: #fff;
  width: 400px;
  position: absolute;
  right: 50px;
  top: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &>a {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 5px 10px;
    padding: 5px;
    &:before {
      margin-left: 5px;
    }
    
    &.active {
      border: 1px solid #006DFF;
      box-sizing: border-box;
      border-radius: 6px;
    }

  }

  @include laptop {
    width: 100%;
    right: 0;
    top: 250px;
  }

  @include phones {
    display: none;
  }

  .sizesLink {
    &:before {
      @include icon("../images/sklad/icons/sizes.png", 22px, 22px, true);
    }
  }

  .weightsLink {
    &:before {
      @include icon("../images/sklad/icons/weights.png", 23px, 23px, true);
    }
  }

  .cartLink {
    &:before {
      @include icon("../images/sklad/icons/cart.png", 31px, 31px, true);
    }
  }

  .calculatorLink {
    &:before {
      @include icon("../images/sklad/icons/calculator.png", 20px, 20px, true);
    }
  }
}
/* /GLOBAL */
/* Global calcPages */
.calcPages {
  max-width: 1120px;
  height: 100vh;
  color: #fff;
  font-size: 16px;
  flex-direction: column;
  align-items: center;
  &__wrapper {
    overflow: hidden;
    position: relative;
    background: #161C28;

    &:before {
      content: '';
      position: absolute;
      width: 283px;
      height: 1074px;
      right: -300px;
      top: 0;

      background: #121E79;
      opacity: 0.6;
      filter: blur(250px);
      @include phones {
        height: auto;
      }
    }
  }

  h1 {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 40px;
  }

  .menu {
    display: flex;
    align-items: center;
    &>a {
      box-sizing: border-box;
      padding: 5px;
      margin: 15px;
      font-size: 16px;
      border-bottom: 2px solid transparent;
      &:hover {
        color: #2180FF;
        border-bottom: 2px solid #2180FF;
      }
      @include laptop {
        margin: 5px;
      }
    }

    .active {
      color: #2180FF;
      border-bottom: 2px solid #2180FF;
    }
    @include laptop {
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  @include laptop {
    height: auto;
  }
}

/* /Global calcPages */
/* Content */
#content {
  color: #fff;

  #spravka-title-h1 {
    display: none;
  }

  #spravka-cost-info-container {
    display: none;
  }

  .spravka_label {
    display: none;
  }

  .spravka_header {
    display: none;
  }

  #spravka-all-container {
    &>tbody {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      &>tr:first-child{
        &>td:first-child {
          &>div:first-child {
            display: none;
          }
        }
      }
      &>tr:last-child{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
      }
    }
  }

  #spravka-info-container {
    &>table>tbody {
      &>tr:last-child {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        &>td:first-child {
          margin-right: 50px;
        }
      }
    }
  }

  .spravka_table {
    border: 1px solid #1F53FF;
    border-radius: 7px;
    tr {
      border: 1px solid #1F53FF;
      td {
        border: 1px solid #1F53FF;
        font-size: 20px;
        padding: 5px;
        box-sizing: border-box;
        vertical-align: middle;
        &:first-child {
          max-width: 450px;
        }
        &:last-child {
          text-align: center;
        }
      }
    }
  }

  #spravka-naimenovanie-change-links {
    margin-bottom: 10px;
  }

  #spravka-naimenovanie-change-links, #spravka-size-change-links {
    border: 1px solid #1F53FF;
    border-radius: 7px;
    padding: 5px;
    font-size: 24px;
    width: 300px;
  }
}
/* /Content */