/* GLOBAL */
body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  min-width: 320px; }

.notImplemented {
  display: none; }

.hidden {
  visibility: hidden; }

.displaynone {
  display: none; }

.container {
  max-width: 1020px;
  margin: auto;
  display: flex;
  position: relative;
  font-weight: 300; }
  @media screen and (max-width: 1220px) {
    .container {
      max-width: 1024px; } }
  @media screen and (max-width: 1024px) {
    .container {
      max-width: 768px; } }
  @media screen and (max-width: 768px) {
    .container {
      max-width: 480px; } }
  @media screen and (max-width: 480px) {
    .container {
      max-width: 100%;
      padding: 10px;
      box-sizing: border-box; } }

.displayflex {
  display: flex; }

.skladLinksBlock {
  z-index: 999;
  color: #fff;
  width: 400px;
  position: absolute;
  right: 50px;
  top: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .skladLinksBlock > a {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 5px 10px;
    padding: 5px; }
    .skladLinksBlock > a:before {
      margin-left: 5px; }
    .skladLinksBlock > a.active {
      border: 1px solid #006DFF;
      box-sizing: border-box;
      border-radius: 6px; }
  @media screen and (max-width: 1024px) {
    .skladLinksBlock {
      width: 100%;
      right: 0;
      top: 250px; } }
  @media screen and (max-width: 480px) {
    .skladLinksBlock {
      display: none; } }
  .skladLinksBlock .sizesLink:before {
    content: '';
    position: relative;
    display: block;
    background-image: url("../images/sklad/icons/sizes.png");
    -webkit-background-size: cover;
    background-size: cover;
    width: 22px;
    height: 22px; }
  .skladLinksBlock .weightsLink:before {
    content: '';
    position: relative;
    display: block;
    background-image: url("../images/sklad/icons/weights.png");
    -webkit-background-size: cover;
    background-size: cover;
    width: 23px;
    height: 23px; }
  .skladLinksBlock .cartLink:before {
    content: '';
    position: relative;
    display: block;
    background-image: url("../images/sklad/icons/cart.png");
    -webkit-background-size: cover;
    background-size: cover;
    width: 31px;
    height: 31px; }
  .skladLinksBlock .calculatorLink:before {
    content: '';
    position: relative;
    display: block;
    background-image: url("../images/sklad/icons/calculator.png");
    -webkit-background-size: cover;
    background-size: cover;
    width: 20px;
    height: 20px; }

/* /GLOBAL */
/* Global calcPages */
.calcPages {
  max-width: 1120px;
  height: 100vh;
  color: #fff;
  font-size: 16px;
  flex-direction: column;
  align-items: center; }
  .calcPages__wrapper {
    overflow: hidden;
    position: relative;
    background: #161C28; }
    .calcPages__wrapper:before {
      content: '';
      position: absolute;
      width: 283px;
      height: 1074px;
      right: -300px;
      top: 0;
      background: #121E79;
      opacity: 0.6;
      filter: blur(250px); }
      @media screen and (max-width: 480px) {
        .calcPages__wrapper:before {
          height: auto; } }
  .calcPages h1 {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 40px; }
  .calcPages .menu {
    display: flex;
    align-items: center; }
    .calcPages .menu > a {
      box-sizing: border-box;
      padding: 5px;
      margin: 15px;
      font-size: 16px;
      border-bottom: 2px solid transparent; }
      .calcPages .menu > a:hover {
        color: #2180FF;
        border-bottom: 2px solid #2180FF; }
      @media screen and (max-width: 1024px) {
        .calcPages .menu > a {
          margin: 5px; } }
    .calcPages .menu .active {
      color: #2180FF;
      border-bottom: 2px solid #2180FF; }
    @media screen and (max-width: 1024px) {
      .calcPages .menu {
        justify-content: center;
        flex-wrap: wrap; } }
  @media screen and (max-width: 1024px) {
    .calcPages {
      height: auto; } }

/* /Global calcPages */
/* Content */
#content {
  color: #fff; }
  #content #spravka-title-h1 {
    display: none; }
  #content #spravka-cost-info-container {
    display: none; }
  #content .spravka_label {
    display: none; }
  #content .spravka_header {
    display: none; }
  #content #spravka-all-container > tbody {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center; }
    #content #spravka-all-container > tbody > tr:first-child > td:first-child > div:first-child {
      display: none; }
    #content #spravka-all-container > tbody > tr:last-child {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 50px; }
  #content #spravka-info-container > table > tbody > tr:last-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
    #content #spravka-info-container > table > tbody > tr:last-child > td:first-child {
      margin-right: 50px; }
  #content .spravka_table {
    border: 1px solid #1F53FF;
    border-radius: 7px; }
    #content .spravka_table tr {
      border: 1px solid #1F53FF; }
      #content .spravka_table tr td {
        border: 1px solid #1F53FF;
        font-size: 20px;
        padding: 5px;
        box-sizing: border-box;
        vertical-align: middle; }
        #content .spravka_table tr td:first-child {
          max-width: 450px; }
        #content .spravka_table tr td:last-child {
          text-align: center; }
  #content #spravka-naimenovanie-change-links {
    margin-bottom: 10px; }
  #content #spravka-naimenovanie-change-links, #content #spravka-size-change-links {
    border: 1px solid #1F53FF;
    border-radius: 7px;
    padding: 5px;
    font-size: 24px;
    width: 300px; }

/* /Content */

/*# sourceMappingURL=calc.css.map */
